<div class="splash">
	<div class="carousel">
	  <ul class="slides">
	    <li>
	      <h2>Interview Clothes</h2>
	      <img [routerLink]="['/shop']" src="../../assets/img/bar1.jpg" alt="">
	    </li>
	    <li>
	      <h2>Winter Clothes</h2>
	      <img  [routerLink]="['/shop']" src="../../assets/img/bar2.jpg" alt="">
	    </li>
			<li>
	      <h2> Clothes</h2>
	      <img [routerLink]="['/shop']" src="../../assets/img/bar3.jpg" alt="">
	    </li>
	    <li>
	      <h2> Clothes</h2>
	      <img  [routerLink]="['/shop']" src="../../assets/img/bar4.jpg" alt="">
	    </li>
			<li>
	      <h2> Clothes</h2>
	      <img  [routerLink]="['/shop']" src="../../assets/img/bar5.jpg" alt="">
	    </li>
	  </ul>
	</div>
</div>
