<slide-show></slide-show>

<div class="container-fluid">
	<div class="row">
		<div class="specials">
			<div class="col-xs-6 col-md-3">
				<span> THis sclasse</span>
			</div>
			<div class="col-xs-6 col-md-9">
				<span> that sclasse</span>
			</div>
			<div class="col-xs-6 col-md-3">
				<span> THis sclasse</span>
			</div>
			<div class="col-xs-6col-md-3">
				<span> THis sclasse</span>
			</div>
			<div class=" col-xs-6 col-md-3">
				<span> THis sclasse</span>
			</div>
			<div class="col-xs-6 col-md-3">
				<span> THis sclasse</span>
			</div>
		</div>
	</div>
</div>
