#cart{
	min-height: 700px;
	padding-left:10%;
  padding-top:2%;
}
#img{
	width:100px;
}
h1{
	margin:0;
	color:#fff;
}
h2{
	margin:0;
	color:#fff;
}
table{

}
tbody{
	background-color:#445562;
	color:#fff;
	font-size: 2rem;
}

.total{
	background-color:#445562;
}
input{
background-color:#445562;
width:4rem;
}
