<div id="cart">
  <h1>Cart:</h1>
   <div *ngIf="collectedItems.length==0">
  	<h2> No items added to the Cart</h2>
  </div>

  <table class="table" *ngIf="collectedItems.length> 0" >
		<tr>
			<th></th>
			<th>Quantity</th>
			<th>Name</th>
			<th>Image</th>
			<th>Cost</th>
		</tr>
      <tbody>
        <tr *ngFor="let item of collectedItems;  ">
    			<td><button class="btn btn-primary" id="remove" (click)="onRemoveFromCollection(item)">Remove</button></td>
    			<td><input type="number"  [(ngModel)]="item.inCart" (ngModelChange)="  updateCollection(item, $event)" ></td>
    			<td>{{item.name}}</td>
    			<td><img id="img" src="../assets/img/clothes/{{item.img}}" alt="{{item.name}}"/></td>
    			<td>{{item.cost | currency:'USD':true}}</td>
    		</tr>
    		<tr class="total">
    			<td></td>
    			<td></td>
    			<td>Total:</td>
    			<td>{{getTotal() | currency:'USD':true}}</td>
    			<td> <button [routerLink]="['/login']" class="btn btn-primary" id="Checkout" >CHECKOUT</button></td>
    		</tr>
      </tbody>
  </table>


</div>
