//TODO make The sidebar shown on the left with a large icon at the top left
//Need a page Icon
//

li{
  list-style:none;
}
h1{
	text-align: center;
	padding: 40px 0;
	background:#15828e;
	color: white;
	text-shadow: 0 0 2px white;	
	margin:0;
}
h3{
	margin:0;
	padding-left: 12%;
	padding-top: 2%;
}
#movieItem{
	width:20%;
	display:inline-block;
	margin:1%;
	padding-top: 2%;
	text-align: center;
}
body{
	margin:0;
}
#img{
	width:80%;
	padding-left:5%;
	height:auto;
}
#movieList{
	background-color:darkgrey;
	padding-left: 300px;
}
#filter{
	padding-right:100px;
}
#filter.active{
	animation-timing-function: ease-in;
}