//TODO make The sidebar shown on the left with a large icon at the top left
//Need a page Icon
//

li{
  list-style:none;
}
header{
  background-color:#445562;
	text-shadow: 0 0 5px white;	
	text-align: center;
	color: white;
	margin:0;

}
#icon{
  background-size:contain;
  height:200px;
}
h1{
	margin:0;
	font-family: "Fira Mono",monospace;
}
h3{
	margin:0;
	padding-left: 150px;
}
#movieItem{
	width:20%;
	display:inline-block;
	margin:1%;
	padding-top: 2%;
	text-align: center;
}
body{
	margin:0;
}
#img{
	width:80%;
	padding-left:5%;
	height:auto;
}
#movieList{
	background-color:#445562;
	padding-left: 300px;
}
#filter{
	margin-right:160px;
}
#filter
#filter.active{
	animation-timing-function: ease-in;
}
#filterArea{
	min-height: 60px;
	background-color:#556674;
}