ul{
	width:1000px;
}
li{
	text-align:center;
	height:300px;
	width:200px;
	list-style:none;	
	display: inline-block;
}
li img{
	height:175px;
	width:175px;
}
.sidebar-icon{
	position: fixed;
	height:100px;
	width:100px;
	top:40px;
	left:40px;
	opacity:0.50;
	border-radius: 5px;	
	-webkit-transition: all .2s ease-in-out;
}

.sidebar-icon:hover{
	opacity:1;
	 -webkit-transition: all .2s ease-in-out;
	 -webkit-transform: scale(1.4);

}

.sidebar ul{
	position: fixed;
	height:100%;
	width:150px;
	top:0px;
/*	left:-150px;*/
	display:hidden;
	padding-top: 180px;
}
.sidebar-menu li{
	text-align:center;
	height:15%;
	width:100px;
	list-style:none;	
	display: inline-block;
	
}
.sidebar-menu li img{
	height:80px;
	width:80px;
	
}
.icons{
	padding: 0;
	display: inline-block;
	background-repeat: no-repeat no-repeat;
	pointer-events: none;
	height:60px;
	width:80px;
	-webkit-transition: all .5s ease-in;
}
.icons:hover{
	
}
button:hover{
	border:black bold 3px;
	-webkit-transition: all .5s ease-in;
	 -webkit-transform: scale(1.4);
}

button:active{
	border:black bold 1px;

}
button{
	background-color: transparent;	
	border: transparent;	
}
.sidebar{
	background-color: grey;
	-webkit-transition: all 2s ease-in-out;
}
.sidebar:active{
	animation:translateX(150px);
	-webkit-transition: all 2s ease-in-out;
}
