ul{
	width:1000px;
}
li{
	text-align:center;
	height:300px;
	width:200px;
	list-style:none;	
	display: inline-block;
}
li img{
	height:175px;
	width:175px;
}
.sidebar-icon{
	position: fixed;
	height:60px;
	width:60px;
	top:40px;
	left:40px;
	opacity:0.50;
	background:white;
	border-radius: 5px;	
}

.sidebar-icon:hover{
	opacity:1;
}

.sidebar ul{
	position: fixed;
	height:100%;
	width:150px;
	top:-20px;
	left:0px;
	display:hidden;
	padding-top: 180px;
}
.sidebar-menu li{
	text-align:center;
	height:15%;
	width:100px;
	list-style:none;	
	display: inline-block;
	
}
.sidebar-menu li img{
	height:80px;
	width:80px;
	
}
.icons{
	padding: 0;
	display: inline-block;
	background-repeat: no-repeat no-repeat;
	pointer-events: none;
	height:80px;
	width:80px;
	
}
button:hover{
	border:black bold 3px;
	background-color:darkgrey;
}

button:active{
	border:black bold 1px;

}
button{
	background-color: transparent;	
	border: transparent;	
}
.sidebar-menu{
	background-color: grey;
}
.sidebar-menu.active{
	animation-timing-function: ease-in;
}

