.sidebar-icon{
	position: fixed;
	height:100px;
	width:100px;
	top:20px;
	left:20px;
	opacity:0.50;
	border-radius: 10px;	
	background-color:#445562;
	-webkit-transition: all .2s ease-in-out;
}
.sidebar-icon:hover{
	opacity:1;
	-webkit-transition: all .2s ease-in-out;
}
.sidebar ul{
	position: fixed;
	height:100%;
	top:-150px;
	left:80px;
	display:hidden;
	padding-top: 180px;
}
.sidebar-menu li{
	text-align:center;
	height:15%;
	width:100px;
	list-style:none;	
	display: inline-block;
	
}
.sidebar-menu li img{
	height:40px;
	width:40px;
	
}
.icons{
	padding: 0;
	display: inline-block;
	background-repeat: no-repeat no-repeat;
	pointer-events: none;
	height:40px;
	width:40px;
	-webkit-transition: all .5s ease-in;
}
.icons:hover{
	
}
button:hover{
	border:black bold 3px;
	-webkit-transition: all .5s ease-in;
	-webkit-transform:scale(1.5);
}

button:active{
	border:black bold 1px;

}
button{
	background-color: transparent;	
	border: transparent;	
}
.sidebar{
	background-color: grey;
	-webkit-transition: all 2s ease-in-out;
}
.sidebar:active{
	animation:translateX(150px);
	-webkit-transition: all 2s ease-in-out;
}
