.adShop{
  padding-left:10%;
  padding-top:2%;
	min-height:700px;
	background-color:#445562;
}
h3{
	margin:0;
	font-size:2rem;
}
.img{
	width:200px;
}
.movieList{
  margin-bottom:50px;
}
.movieItem{
	padding:0;
	margin:0;
	display:inline-block;
}
