<div class="adShop">
	<div class="filterArea">
    <h3 class="filter" *ngIf="sidebarValue !=''" >Filter: {{sidebarValue}}</h3>
  </div>
<div class="movieList">
	<div class="container-fluid">
		<div class="row">
		  <div class="movieItem" *ngFor="let clothes of collectables| TypePipe:sidebarValue ">
		    <img class="img" src="../assets/img/clothes/{{clothes.img}}" alt="{{clothes.name}}"/>
		    <h2>{{clothes.name}}</h2>
		    <button (click)="onAddToCollection(clothes)">Add Item to Cart</button>
		    <!--<span *ngIf="clothes.inStock < 4"> Only {{clothes.inStock}} left in Stock</span>-->
		    <p>{{clothes.description}}</p>
		    <p> {{clothes.cost}}</p>
		   <!-- <select >
		     <option *ngFor="let number of numbers" value="number" >{{number}}</option>
		   </select>  -->
		  </div>
		</div>
	</div>
</div>
<div class="hidden-xs hidden-sm">
	<ad-sidebar (sidebarChanged)="sidebarValue=$event"></ad-sidebar>
</div>
